<table *ngIf="mode != 'details' || (subparts && subparts.length != 0)"
    class="subpart-table" aria-labelledby="subparts">
    <tr>
        <th>Subpart</th>
        <th>Value</th>
        <th *ngIf="mode=='edit'"></th>
    </tr>
    <ng-container *ngIf="mode=='details'" >
        <tr *ngFor="let subpart of subparts; let i = index">
            <td class="padding-4">{{subpart.name}}</td>
            <td class="value-column">{{subpart.percentValue}}</td>
        </tr>
    </ng-container>
    <ng-container *ngIf="mode=='edit'">
        <ng-container *ngFor="let form of forms; let i = index">
            <tr [formGroup]="form">
                <td class="padding-4">
                    <input matInput formControlName="name" />
                    <p *ngIf="form.touched && form.controls['name'].touched
                        && form.controls['name'].errors">
                        <span *ngIf="form.controls['name'].errors?.['required']"
                            class="small-warn-text">
                            Subpart name is required.
                        </span>
                        <span *ngIf="form.controls['name'].errors?.['maxlength']"
                            class="small-warn-text">
                            Length of the subpart's name can't be over 50 characters.
                        </span>
                    </p>
                </td>
                <td class="value-column">
                    <input matInput formControlName="percentValue" type="number" min="0" max="100" />
                </td>
                <td>
                    <a mat-flat-button color="warn" class="sign-button"
                        (click)="onRemoveSubpart(i)">-</a> 
                </td>
            </tr>
        </ng-container>
    </ng-container>
    <tr *ngIf="mode=='edit'">
        <td colspan="4" class="padding-4">
            <a mat-flat-button color="primary" class="sign-button"
                (click)="onAddSubpart()">+</a> 
        </td>
    </tr>
</table>

