.options-container {
    margin-top: 5px;
}

.form-field {
    display: flex;
}

mat-label {
    font-size: 14px;
    color: grey;
    margin-right: 10px;
}

mat-select {
    font-size: 14px;
    width: 150px;
}