<div class="content">
    <button class="back-container" [routerLink]="['/users', userName]">
        <mat-icon>
            arrow_back
        </mat-icon>
        <p class="back-text">Back to the user</p>
    </button>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>New password:</mat-label>
            <input matInput type="password" formControlName="password" required>
            <p *ngIf="form.controls['password'].touched && form.controls['password'].errors">
                <span *ngIf="form.controls['password'].errors?.['required']"
                    class="small-warn-text">
                    Password is required.
                </span>
                <span *ngIf="form.controls['password'].errors?.['minlength']"
                    class="small-warn-text">
                    Password have to be at least 8 characters long.
                </span>
                <span *ngIf="form.controls['password'].errors?.['maxlength']"
                    class="small-warn-text">
                    Password have to be no longer than 20 characters.
                </span>
            </p>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Confirm password:</mat-label>
            <input matInput type="password" formControlName="passwordConfirm" required>
            <p *ngIf="(form.errors && form.touched) ||
                (form.controls['passwordConfirm'].touched && form.controls['passwordConfirm'].errors)">
                <span *ngIf="form.controls['passwordConfirm'].errors?.['required']"
                    class="small-warn-text">
                    Confirm the password.
                </span>
                <span *ngIf="form.errors && form.errors['passwordMatchError']"
                    class="small-warn-text">
                    Passwords doesn't match.
                </span>
            </p>
        </mat-form-field>

        <div>
            <button mat-flat-button color="primary" type="submit">
                Save
            </button>
            <button mat-flat-button color="accent" [routerLink]="['/users']">
                Cancel
            </button>
        </div>
    </form>
</div>