.back-container {
    display: flex;
    align-items: center;
    border: none;
}
.back-text {
    margin-left: 3px;
}

.form-content {
    margin-top: 20px;
}

.mat-flat-button {
    margin: 0px 3px;
}

.right-margin {
    margin-right: 5px;
}

