.sidebar-view {
    width: 200px;
    padding-left: 20px;
    padding-top: 0px;
}

.form-content {
    margin-top: 20px;
}

.mat-flat-button {
    margin: 0px 3px;
}

.right-margin {
    margin-right: 5px;
}

.flex-container {
    display: flex;
    vertical-align: middle;
}

.vartical-center {
    display: flex;
    vertical-align: middle;
}

.buttons {
    margin-top: 10px;
    white-space: nowrap;
}

.mat-hint.small-font {
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-input {
    width: 70px;
}

.time-input {
    width: 40px;
    border: none;
    font-size: 14px;
}

.hint {
    font-weight: 200;
    font-size: 11px;
}
.right-hint {
    margin-left: 45px;
}