<div [class]="sidebarView ? 'sidebar-view' : 'content'">
    <button *ngIf="!sidebarView" class="back-container" [routerLink]="['/boards', boardId]">
        <mat-icon>
            arrow_back
        </mat-icon>
        <p class="back-text">Back to the board</p>
    </button>
    <form [formGroup]="form" (submit)="onSubmit()" class="form-content">
        <input matInput formControlName="id" readonly required hidden="true">
        <mat-form-field floatLabel="always">
            <mat-label>Topic:</mat-label>
            <p><input matInput formControlName="topic" required></p>
            <p *ngIf="form.touched && form.controls['topic'].errors">
                <span *ngIf="form.controls['topic'].errors?.['required']"
                    class="small-warn-text">
                    Topic is required
                </span>
            </p>
        </mat-form-field>
        
        <br>
        <mat-form-field floatLabel="always">
            <mat-label>Description:</mat-label>
            <p><textarea matInput formControlName="description"></textarea></p>
        </mat-form-field>
        
        <br>
        <mat-form-field floatLabel="always">
            <mat-label>Stage:</mat-label>
            <mat-select formControlName="stage" required>
                <mat-option *ngFor="let stage of stages" [value]="stage.id">
                    {{stage.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <mat-form-field floatLabel="always">
            <mat-label>Deadline:</mat-label>
            <div class="container">
                <div class="row">
                  <div class="flex-container">
                    <input class="date-input" matInput [matDatepicker]="datePicker" formControlName="deadlineDate" required>
                    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                  </div>
                  <div class="flex-container">
                    <input class="time-input" [ngxTimepicker]="timePicker" [format]=24 formControlName="deadlineTime">
                    <ngx-material-timepicker-toggle [for]="timePicker"></ngx-material-timepicker-toggle>
                    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                  </div>
                </div>
                <div class="row">
                  <div class="hint">DD/MM/YYYY</div>
                  <div class="hint right-hint">HH:MM</div>
                </div>
            </div>
        </mat-form-field>
        
        <br>
        <mat-form-field floatLabel="always">
            <mat-label>Responsible employee:</mat-label>
            <mat-select formControlName="responsibleEmployeeId" required>
                <mat-option *ngFor="let employee of employees" [value]="employee.id">
                    {{employee.firstName}} {{employee.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <br>
        <tt-subparts [subparts]="subparts" [mode]="'edit'">
        </tt-subparts>
        
        <div class="flex-container margin-5">
            <mat-label class="right-margin">Completed:</mat-label>
            <mat-checkbox class="vartical-center" color="primary" formControlName="isCompleted"></mat-checkbox>
        </div>
        

        <div *ngIf="!sidebarView" class="buttons">
            <button mat-flat-button color="primary" type="submit">
                {{ mode === "create" ? "Add" : "Save" }}
            </button>
            <a mat-flat-button color="accent" 
                [routerLink]="mode === 'create' ? ['/boards', boardId] : ['/boards', boardId, 'tasks', assignmentId]">
                Cancel
            </a>
        </div>
    </form>
</div>