.panel-container {
    display: flex;
    align-items: center;
    border: none;
    margin-left: 20px;
}
.panel-text {
    margin-left: 3px;
}

.sidebar-buttons {
    margin-left: 20px;
}

.mat-flat-button {
    margin: 1px 3px;
}
