<mat-form-field [hidden]="!employeesTable" class="filter" floatLabel="never">
    <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
        placeholder="Find user to add" />
    <button *ngIf="filter.value" matSuffix mat-icon-button aria-label="Clear" 
        (click)="clearFilter()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<table mat-table [dataSource]="employeesTable"
    class="mat-elevation-z8 table"
    [hidden]="!employeesTable"
    matSort 
    aria-label="List of the employees">

    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="userName"> 
            User 
        </th>
        <td mat-cell *matCellDef="let employee" class="first-column"> 
            {{employee.userName}} 
            <span *ngIf="rolesService.isAdmin(employee.roles)" class="badge admin-badge">
                {{rolesService.adminRole}}
            </span>
            <span *ngIf="rolesService.isManager(employee.roles)" class="badge manager-badge">
                {{rolesService.managerRole}}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName"> 
            First name 
        </th>
        <td mat-cell *matCellDef="let employee"> 
            {{employee.firstName}}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName"> 
            Last name 
        </th>
        <td mat-cell *matCellDef="let employee"> 
            {{employee.lastName}} 
        </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
        <th hidden mat-header-cell *matHeaderCellDef> 
            Buttons
        </th>
        <td mat-cell *matCellDef="let employee" class="align-center"> 
            <a mat-flat-button color="primary" (click)="onAddEmployeeToBoard(employee)">Add</a>
        </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="['userName', 'firstName', 'lastName', 'buttons']"></tr>
    <tr mat-row *matRowDef="let row; let i = index;
        columns: ['userName', 'firstName', 'lastName', 'buttons']">
    </tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of employees">
</mat-paginator>