.mat-form-field {
    font-size: 16px;
    width: 100%;
}

.table {
    width: 100%;
}

th {
    color: black;
    font-size: medium;
}

td {
    font-size: 16px;
}

.button-wrapper {
    margin-top: 20px;
}

.first-column {
    width: 30%;
}

.filter {
    width: 300px;
}

.badge {
    color: white;
    font-size: small;
    padding: 3px 3px;
    border-radius: 10px;
    margin-left: 10px;
}

.admin-badge {
    background-color: red;
}

.manager-badge {
    background-color: rebeccapurple;
}

.align-center {
    text-align: center;
}

td.mat-cell:last-of-type {
    width: 100px;
    padding-right: 0;
}