.back-container {
    display: flex;
    align-items: center;
    border: none;
}

.back-text {
    margin-left: 3px;
}

td {
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 16px;
}

.mat-flat-button {
    margin: 1px 3px;
}