<div class="content">
    <table mat-table [dataSource]="stages"
        class="mat-elevation-z8"
        [hidden]="!stages"
        aria-label="List of the stages">
    
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="align-center"> Position </th>
            <td mat-cell *matCellDef="let stage" class="short-column align-center"> {{stage.position}} </td>
        </ng-container>
        <ng-container matColumnDef="move">
            <th mat-header-cell *matHeaderCellDef class="align-center"> Move </th>
            <td mat-cell *matCellDef="let stage; let i = index" class="medium-column align-center"> 
                <p class="withour-margin">
                    <button *ngIf="i != 0" 
                        mat-icon-button (click)="moveStage(stage.id, false)">
                        <mat-icon>
                            arrow_upward
                        </mat-icon>
                    </button>
                    <button *ngIf="i != stages.data.length - 1" 
                        mat-icon-button (click)="moveStage(stage.id, true)">
                        <mat-icon>
                            arrow_downward
                        </mat-icon>
                    </button>
                </p>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let stage"> {{stage.name}} </td>
        </ng-container>
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let stage, let i = index" class="button-column align-center"> 
                <p>
                    <a mat-flat-button class="edit-button" (click)="changeMode('edit'); highlightRow(i); setStageId(stage.id)">
                        Edit
                    </a>
                    <a mat-flat-button color="warn" (click)="deleteStage(stage.id); changeMode('view')">
                        Delete
                    </a>
                </p>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['position', 'move', 'name', 'buttons']"></tr>
        <tr mat-row *matRowDef="let row; let i = index;
            columns: ['position', 'move', 'name', 'buttons']"
            [class.highlight-row]="i === highlightedRow && mode === 'edit'">
        </tr>
    </table>

    <div class="button-wrapper">
        <a *ngIf="mode !== 'create' && mode !== 'edit'"
            mat-flat-button color="primary" (click)="changeMode('create'); setStageId(0);">
            Add stage
        </a>
        <a *ngIf="mode === 'create' || mode === 'edit'"
            mat-flat-button color="accent" (click)="changeMode('view')">
            Collapse
        </a>
    </div>

    <div class="input-panel" [hidden]="!showPanel">
        <tt-stage-create-edit (updateNotification)="refreshStages()" 
            [stageId]="currentStageId"
            [mode]="mode">
        </tt-stage-create-edit>
    </div>

</div>