.title {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 28px;
    font-weight: 500;
    background-color: antiquewhite;
}

.filter {
    width: 300px;
}

.table {
    width: 100%;
}

th.mat-header-cell {
    color: black;
    font-size: medium;
    text-align: center;
}

td {
    font-size: 16px;
    padding-left: 10px;
}

td.mat-cell {
    padding-left: 10px;
}

.mat-flat-button {
    margin: 2px 3px;
}

.mat-flat-button.create-button {
    margin: 0px 3px;
}


td.mat-cell th.mat-cell {
    padding-left: 10px;
}

td.mat-cell:last-of-type {
    width: 230px;
    padding-left: 10px;
    padding-right: 0;
}

td.mat-cell:first-of-type {
    padding-left: 10px;
    padding-right: 0;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

.roles-header {
    padding-left: 10px;
}

.roles-column {
    text-align: center;
}