<div class="content">
    <div class="title" [routerLink]="['/boards']">
        Boards
    </div>
    <div *ngIf="isAdminOrManager" class="button-wrapper">
        <a mat-flat-button color="primary" [routerLink]="['/boards', 'create']">Create Board</a>
    </div>
    <div *ngIf="boards" class="canvas">
        <mat-card *ngFor="let board of boards" class="card">
            <mat-card-header>
                <mat-card-title>{{board.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>Assignments: {{board.assignments?.length}}</mat-card-content>
            <mat-card-content>Employees: {{board.employees?.length}}</mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['/boards', board.id]" 
                    mat-flat-button color="primary">View</a>
                <a *ngIf="isAdminOrManager" [routerLink]="['/boards', board.id, 'edit']"
                    mat-flat-button class="edit-button">Edit</a>
                <a *ngIf="isAdminOrManager" (click)="deleteBoard(board.id)"
                    mat-flat-button color="warn">Delete</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>