.title {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 28px;
    font-weight: 500;
    background-color: antiquewhite;
}

.canvas {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    margin: 0px -20px;
}

.card {
    width: 250px;
    max-width: 250px;
    margin: 10px 20px;
    flex-grow: 1;
    background-color: lavender;
}

.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}

.mat-flat-button {
    margin: 0px 3px;
}

.button-wrapper {
    margin-top: 10px;
}