.canvas {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    padding: 0px 20px;   
}

.card {
    width: 250px;
    max-width: 250px;
    margin: 10px 20px;
    flex-grow: 1;
}

.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}

.mat-flat-button {
    margin: 0px 3px;
}

.button-wrapper {
    margin-top: 20px;
    margin-left: 40px;
}