<div *ngIf="boards" class="canvas">
    <mat-card *ngFor="let board of boards" class="card">
        <mat-card-header>
            <mat-card-title>{{board.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>Assignments: {{board.assignments?.length}}</mat-card-content>
        <mat-card-content>Employees: {{board.employees?.length}}</mat-card-content>
        <mat-card-actions>
            <a [routerLink]="['/boards', board.id]" mat-button>View</a>
            <a *ngIf="isAdmin() || isManager()" [routerLink]="['/boards', board.id, 'edit']" mat-button>Edit</a>
            <a *ngIf="isAdmin() || isManager()" mat-button>Delete</a>
        </mat-card-actions>
    </mat-card>
</div>