<div class="content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="wrapper">
        <div class="row cell center-text">
            <div class="bold-text center-text">Update your password</div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Old password:</div>
            </div>
            <div class="cell">
              <mat-form-field>
                  <input matInput type="password" formControlName="oldPassword" required>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">New password:</div>
            </div>
            <div class="cell">
                <mat-form-field>
                    <input matInput type="password" formControlName="password" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Confirm new password:</div>
            </div>
            <div class="cell">
                <mat-form-field>
                    <input matInput type="password" formControlName="passwordConfirm" required>
                </mat-form-field>
            </div>
        </div>

        <section aria-labelledby="validation-errors">
            <div *ngIf="(form.controls['oldPassword'].touched && form.controls['oldPassword'].errors?.['required'])
                    || (form.controls['password'].touched && form.controls['password'].errors?.['required'])
                    || (form.controls['passwordConfirm'].touched &&  form.controls['passwordConfirm'].errors?.['required'])"
                class="row cell center-text warn-text">
                Fill in all fields
            </div>
            <div *ngIf="form.controls['password'].errors?.['minlength']" 
                class="row cell center-text warn-text">
                Password have to be at least 8 characters long.
            </div>
            <div *ngIf="form.errors && form.errors['passwordMatchError']" 
                class="row cell center-text warn-text">
                Passwords doesn't match.
            </div>
            <div *ngIf="isSuccessful == false" class="row cell center-text">
                <div class="bold-text center-text warn-text">Error! Password was not updated!</div>
            </div>
            <div *ngIf="isSuccessful === false" class="row cell center-text">
                <div class="bold-text center-text warn-text multiline-text">{{errors}}</div>
            </div>
            <div *ngIf="isSuccessful === true" class="row cell center-text">
                <div class="bold-text center-text success-text" color="primary">Password successfully updated!</div>
            </div>
        </section>

        <div class="buttons">
            <button mat-flat-button color="primary" type="submit">
                Save
            </button>
            <a mat-flat-button color="accent" [routerLink]="['/profile']">
                Cancel
            </a>
        </div>
    </form>
</div>