<div class="content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="wrapper">
        <div class="row cell center-text">
            <div class="bold-text center-text">Update your password</div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Old password:</div>
            </div>
            <div class="cell">
              <mat-form-field>
                  <input matInput type="password" formControlName="oldPassword" required>
                  <p *ngIf="form.controls['oldPassword'].touched
                    && form.controls['oldPassword'].errors">
                    <span *ngIf="form.controls['oldPassword'].errors?.['required']"
                        class="small-warn-text">
                        Old password is required.
                    </span>
                  </p>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">New password:</div>
            </div>
            <div class="cell">
                <mat-form-field>
                    <input matInput type="password" formControlName="password" required>
                    <p *ngIf="form.controls['password'].touched && form.controls['password'].errors">
                        <span *ngIf="form.controls['password'].errors?.['required']"
                            class="small-warn-text">
                            Password is required.
                        </span>
                        <span *ngIf="form.controls['password'].errors?.['minlength']"
                            class="small-warn-text">
                            Password have to be at least 8 characters long.
                        </span>
                        <span *ngIf="form.controls['password'].errors?.['maxlength']"
                            class="small-warn-text">
                            Password have to be no longer than 20 characters.
                        </span>
                    </p>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Confirm new password:</div>
            </div>
            <div class="cell">
                <mat-form-field>
                    <input matInput type="password" formControlName="passwordConfirm" required>
                    <p *ngIf="(form.errors && form.touched) ||
                        (form.controls['passwordConfirm'].touched && form.controls['passwordConfirm'].errors)">
                        <span *ngIf="form.controls['passwordConfirm'].errors?.['required']"
                            class="small-warn-text">
                            Confirm the password.
                        </span>
                        <span *ngIf="form.errors && form.errors['passwordMatchError']"
                            class="small-warn-text">
                            Password and confirm password doesn't match.
                        </span>
                    </p>
                </mat-form-field>
            </div>
        </div>

        <div class="buttons">
            <button mat-flat-button color="primary" type="submit">
                Save
            </button>
            <a mat-flat-button color="accent" [routerLink]="['/profile']">
                Cancel
            </a>
        </div>
    </form>
</div>