.filter {
    width: 300px;
}

.table {
    width: 100%;
}

th {
    color: black;
    font-size: medium;
}

td {
    font-size: 16px;
}

.description-column {
    width: 20%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0px 10px;
}

.mat-flat-button {
    margin: 1px 3px;
}