<div class="content">
    <tt-assignments-single-board-mode *ngIf="isInSingleBoardMode && boardId"
        [boardId]="boardId">
    </tt-assignments-single-board-mode>

    <tt-assignments-multy-boards-mode *ngIf="isInMultyBoardsMode"
        [boards]="boards">
    </tt-assignments-multy-boards-mode>

    <mat-form-field [hidden]="!assignmentsTable" class="filter" floatLabel="never">
        <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
            placeholder="Find task by topic or employee" />
        <button *ngIf="filter.value" matSuffix mat-icon-button aria-label="Clear" 
            (click)="clearFilter()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <table mat-table [dataSource]="assignmentsTable!"
        matSort
        class="mat-elevation-z8 table"
        [hidden]="!assignmentsTable"
        aria-label="List of the stages">
    
        <ng-container matColumnDef="topic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="topic"> Topic </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.topic}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let assignment" class="description-column"> 
                {{assignment.description}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="deadline"> Deadline </th>
            <td mat-cell *matCellDef="let assignment"> {{assignment.deadline | date: 'dd/MM/YYYY HH:mm'}} </td>
        </ng-container>
        <ng-container matColumnDef="board">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="boardName"> Board </th>
            <td mat-cell *matCellDef="let assignment">
                {{assignment.boardName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="stage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="stage"> Stage </th>
            <td mat-cell *matCellDef="let assignment">
                {{assignment.stage?.position}} - {{assignment.stage?.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="responsibleEmployee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="responsibleEmployee"> Responsible Employee </th>
            <td mat-cell *matCellDef="let assignment">                 
                <p (click)="selectEmployeesTasks(assignment.responsibleEmployee?.firstName + ' ' + assignment.responsibleEmployee?.lastName)">
                    {{assignment.responsibleEmployee?.firstName}} {{assignment.responsibleEmployee?.lastName}}
                </p>
            </td>
        </ng-container>
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let assignment"> 
                <a mat-flat-button color="primary"
                    [routerLink]="['/boards', assignment.boardId, 'tasks', assignment.id]">
                    Details
                </a>
                <a *ngIf="authService.isAdmin() || authService.isManager()"
                    mat-flat-button class="edit-button"
                    [routerLink]="['/boards', assignment.boardId, 'tasks', assignment.id, 'edit']">
                    Edit
                </a>
                <a *ngIf="authService.isAdmin() || authService.isManager()"
                    mat-flat-button color="warn"
                    (click)="deleteAssignment(assignment.boardId, assignment.id)">
                    Delete
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index;
            columns: displayedColumns">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                 showFirstLastButtons
                 aria-label="Select page of assignments">
    </mat-paginator>

</div>