<header>
    <mat-toolbar color="primary">
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>
          home
        </mat-icon>
      </button>
      <a mat-flat-button color="primary" [routerLink]="['/boards']">
        Boards
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/tasks']">
        Tasks
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/users']">
        Users
      </a>

      <span class="separator"></span>
      <a *ngIf="!isLoggedIn" mat-flat-button color="primary"
         [routerLink]="['/login']">
        Login
      </a>

      <div *ngIf="isLoggedIn" class="wrapper">
        <div class="trigger">{{username ?? "User"}}</div>
        <div class="links" color="primary">
          <a *ngIf="isLoggedIn" mat-flat-button color="primary"
            [routerLink]="['profile']">
            Profile
          </a>
          <br>
          <a *ngIf="isLoggedIn" mat-flat-button color="primary"
            (click)="onLogout()">
            Logout
          </a>
        </div>
      </div>
    </mat-toolbar>
  </header>
