<div class="content">
    <button class="back-container" [routerLink]="['/users', userName]">
        <mat-icon>
            arrow_back
        </mat-icon>
        <p class="back-text">Back to the user</p>
    </button>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput formControlName="userName" required>
            <p *ngIf="form.controls['userName'].touched">
                <span *ngIf="form.controls['userName'].errors?.['required']"
                    class="small-warn-text">
                    Username is required
                </span>
                <span *ngIf="form.controls['userName'].errors?.['minlength']"
                    class="small-warn-text">
                    Username must be at least 3 characters long.
                </span>
                <span *ngIf="form.controls['userName'].errors?.['maxlength']"
                    class="small-warn-text">
                    Username can be at most 25 characters long.
                </span>
                <span *ngIf="form.controls['userName'].errors?.['pattern']"
                    class="small-warn-text">
                    Username may contain only letters, digits or undescore.
                </span>
            </p>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="form.controls['email'].errors?.['required']">
                Email is required
            </mat-error>
            <p *ngIf="form.controls['email'].touched">
                <mat-error *ngIf="form.controls['email'].errors?.['email']"
                    class="small-warn-text">
                    Provide a valid email
                </mat-error>
            </p>
        </mat-form-field>

        <br>
        <mat-form-field>
            <mat-label>Roles:</mat-label>
            <mat-select formControlName="roles" multiple required
                disableOptionCentering panelClass="select-option-margin40">
                <mat-option *ngFor="let role of allRoles" [value]="role">{{role}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>First name:</mat-label>
            <input matInput formControlName="firstName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Last name:</mat-label>
            <input matInput formControlName="lastName" required>
        </mat-form-field>

        
        <div>
            <button mat-flat-button color="primary" type="submit">
                Save
            </button>
            <button mat-flat-button color="accent" [routerLink]="['/users']">
                Cancel
            </button>
        </div>

    </form>
</div>
