.back-container {
    display: flex;
    align-items: center;
    border: none;
}

.back-text {
    margin-left: 3px;
}

.mat-flat-button {
    margin: 0px 3px;
}

.small-warn-text {
    color: #f44336;
    font-size: 75%;
}