<div [class]="sidebarView ? 'sidebar-view' : 'content'">
    <button *ngIf="!sidebarView" class="back-container" [routerLink]="['/boards', boardId]">
        <mat-icon>
            arrow_back
        </mat-icon>
        <p class="back-text">Back to the board</p>
    </button>
    <div class="assignment-full">
        <table aria-labelledby="assignment-details">
            <tr hidden="true">
                <th>Detail</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Topic:</td>
                <td class="last-column">
                    {{assignment?.topic}}
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td class="last-column">
                    {{assignment?.description}}
                </td>
            </tr>
            <tr>
                <td>Stage:</td>
                <td class="last-column">
                    {{stage?.name}}
                </td>
            </tr>
            <tr>
                <td>Deadline:</td>
                <td class="last-column">
                    {{assignment?.deadline | date: 'dd/MM/YYYY HH:mm' }}
                </td>
            </tr>
            <tr>
                <td>Responsible<br>employee:</td>
                <td>{{employee?.firstName}} {{employee?.lastName}}</td>
            </tr>
            <tr>
                <td colspan="2" class="last-column">
                    <tt-subparts [subparts]="assignment?.subparts"></tt-subparts>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td [class]="assignmentStatus.class"
                    class="last-column">
                    {{assignmentStatus.text}}
                </td>
            </tr>
        </table>
        
    </div>
    <div *ngIf="!sidebarView">
        <a *ngIf="authService.isAdmin() || authService.isManager()"
            mat-flat-button class="edit-button"
            [routerLink]="['/boards', boardId, 'tasks', assignmentId, 'edit']">
            Edit
        </a>
        <a *ngIf="authService.isAdmin() || authService.isManager()"
            mat-flat-button color="warn" (click)="deleteAssignment()">
            Delete
        </a>
        <a *ngIf="isUserAuthorizeToChangeTaskStatus"
            mat-flat-button [color]="assignment!.isCompleted ? 'warn' : 'primary'"
            (click)="changeAssignmentStatus(assignment!)">
            {{assignment!.isCompleted ? 'Cancel task completion' : 'Complete task' }}</a>
    </div>
</div>