<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input matInput formControlName="id" hidden required readonly>
    <mat-form-field floatLabel="always">
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" required
            placeholder="Type a name">
        <p *ngIf="form.controls['name'].touched && form.controls['name'].errors">
            <span *ngIf="form.controls['name'].errors?.['required']"
                class="small-warn-text">
                Stage name is required.
            </span>
            <span *ngIf="form.controls['name'].errors?.['maxlength']"
                class="small-warn-text">
                Stage name has to be no longer than 50 characters.
            </span>
        </p>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" type="submit">
            {{mode == "edit" ? 'Save' : 'Add'}}
        </button>
    </div>
</form>