.sidebar-view {
    width: 200px;
    padding-left: 20px;
    padding-top: 0px;
}

.assignment-full {
    margin-top: 20px;
}

td {
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 16px;
}

td.last-column {
    padding-right: 0;
}

.mat-flat-button {
    margin: 0px 3px;
}

.warn-text {
    color: rgb(201, 73, 73);
}
.success-text {
    color: rgb(80, 196, 54);
}