.mat-form-field {
    font-size: 16px;
    width: 100%;
}

.back-container {
    display: flex;
    align-items: center;
    border: none;
}
.back-text {
    margin-left: 3px;
}

.table {
    width: 100%;
}

th {
    color: black;
    font-size: medium;
}

td {
    font-size: 16px;
}