<div class="container">
    <h3>Register a new account</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <mat-error *ngIf="registrationResult && !registrationResult.success">
                <strong>ERROR</strong>: {{registrationResult.message}}
            </mat-error>
        </p>

        <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput formControlName="userName" required>
            <p *ngIf="form.controls['userName'].touched && form.controls['userName'].errors">
                <span *ngIf="form.controls['userName'].errors?.['required']"
                    class="small-warn-text">
                    Username is required
                </span>
                <span *ngIf="form.controls['userName'].errors?.['minlength']"
                    class="small-warn-text">
                    Username must be at least 3 characters long.
                </span>
                <span *ngIf="form.controls['userName'].errors?.['maxlength']"
                    class="small-warn-text">
                    Username can be at most 25 characters long.
                </span>
                <span *ngIf="form.controls['userName'].errors?.['pattern']"
                    class="small-warn-text">
                    Username may contain only letters, digits or undescore.
                </span>
            </p>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" required>
            <p *ngIf="form.controls['email'].touched && form.controls['email'].errors">
                <span *ngIf="form.controls['email'].errors?.['required']"
                    class="small-warn-text">
                    Email is required
                </span>
                <span *ngIf="form.controls['email'].errors?.['email']"
                    class="small-warn-text">
                    Provide a valid email
                </span>
            </p>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password" formControlName="password" required>
            <p *ngIf="form.controls['password'].touched && form.controls['password'].errors">
                <span *ngIf="form.controls['password'].errors?.['required']"
                    class="small-warn-text">
                    Password is required.
                </span>
                <span *ngIf="form.controls['password'].errors?.['minlength']"
                    class="small-warn-text">
                    Password have to be at least 8 characters long.
                </span>
                <span *ngIf="form.controls['password'].errors?.['maxlength']"
                    class="small-warn-text">
                    Password have to be no longer than 20 characters.
                </span>
            </p>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm password:</mat-label>
            <input matInput type="password" formControlName="passwordConfirm" required>
            <p *ngIf="(form.errors && form.touched) ||
                (form.controls['passwordConfirm'].touched && form.controls['passwordConfirm'].errors)">
                <span *ngIf="form.controls['passwordConfirm'].errors?.['required']"
                    class="small-warn-text">
                    Confirm the password.
                </span>
                <span *ngIf="form.errors && form.errors['passwordMatchError']"
                    class="small-warn-text">
                    Password and confirm password doesn't match.
                </span>
            </p>
        </mat-form-field>
        
        <div class="buttons">
            <button mat-flat-button color="primary" type="submit">
                Register account
            </button>
            <button mat-flat-button color="accent" [routerLink]="['/']">
                Cancel
            </button>
        </div>
    </form>
</div>