.container {
    margin: auto;
    width: 350px;
    padding: 20px 10px;
    text-align: center;
}

.buttons {
    margin-top: 5px;
}

:host ::ng-deep {
    .mat-flat-button {
        margin: 0px 3px;
    }

    .mat-form-field-infix {
        width: 300px;
    }
}