.container {
    margin: auto;
    width: 350px;
    padding: 20px 10px;
    text-align: center;
}

.small-warn-text {
    color: #f44336;
    font-size: 75%;
}

.buttons {
    margin-top: 5px;
}

:host ::ng-deep {
    .mat-flat-button {
        margin: 0px 3px;
    }

    .mat-form-field-infix {
        width: 300px;
    }
}