.container {
    margin: auto;
    width: 350px;
    padding: 20px 10px;
    text-align: center;
}

.mat-flat-button {
    margin: 0 3px;
}

.small-warn-text {
    color: #f44336;
    font-size: 75%;
}

.buttons {
    margin-top: 5px;
}