.content.no-right-padding {
    padding-right: 0px;
}

.sidebar-container {
    position: fixed;
    top: 80px;
    width: 250px;
    height: calc(100% - 80px);
    left: 0;
    overflow-y: auto;
    z-index: 1;
}

.sidebar-view-margin {
    margin-left: 225px;
}

.sidebar-edit-margin {
    margin-left: 200px;
}

.panel-container {
    display: flex;
    align-items: center;
    border: none;
    margin-left: 20px;
}
.panel-text {
    margin-left: 3px;
}

.sidebar-buttons {
    margin-left: 20px;
}

h2 {
    text-align: center;
}
::ng-deep h2.title {
    margin-bottom: 0px;
}

.mat-flat-button {
    margin: 1px 3px;
}

.board-container {
    display: block;
}

.board {
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
}

.stage {
    white-space: nowrap;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 3px 3px;
    text-align: center;
    background-color: #f5f5dc;
    min-width: 200px;
    width: 50%;
    min-height: 200px;
    margin-right: 5px;
}

.stage-name {
    font-size: 16px;
    border-bottom: 1px solid black;
}

.cdk-drag {
    text-align: center;
}

.task {
    padding: 5px 2px;
    margin: 5px 0px;
    border: grey 1px solid;
    border-collapse: collapse;
    border-radius: 15px;
    background-color: #98fb98;
}

.employees-task {
    background-color: #98fb98;
}

.non-employees-task {
    background-color: #99FFFF;
}