<div *ngIf="showSidebar" [@openClose] class="sidebar-container" >
    <button class="panel-container" (click)="showSidebar=false">
        <mat-icon>
            arrow_back
        </mat-icon>
        <p class="panel-text">Hide panel</p>
    </button>
    <tt-assignment-view *ngIf="sidebarContent=='details'"
        [sidebarView]="true"
        [boardId]="board.id.toString()"
        [assignmentId]="currentTaskId!.toString()">
    </tt-assignment-view>
    <tt-assignment-edit *ngIf="sidebarContent == 'create' || sidebarContent=='edit'"
        [sidebarView]="true"
        [boardId]="board.id.toString()"
        [assignmentId]="currentTaskId?.toString()">
    </tt-assignment-edit>
    <div class="sidebar-buttons" *ngIf="sidebarContent=='details'">
        <a mat-flat-button color="primary"
            [routerLink]="['/boards', board.id, 'tasks', currentTaskId]">
            Details
        </a>
        <a *ngIf="authService.isAdmin() || authService.isManager()" 
            mat-flat-button class="edit-button" (click)="editTask(currentTaskId!)">
            Edit
        </a>
        <a *ngIf="authService.isAdmin() || authService.isManager()"
            mat-flat-button color="warn" (click)="deleteAssignment()">
            Delete
        </a>
        <a *ngIf="isUserAuthorizeToChangeTaskStatus()"
            mat-flat-button [color]="assignmentView.assignment!.isCompleted ? 'warn' : 'primary'"
            (click)="changeTaskStatus(assignmentView.assignment!)">
            {{assignmentView.assignment!.isCompleted ? 'Cancel completion' : 'Complete task' }}
        </a>
    </div>
    <div class="sidebar-buttons" *ngIf="sidebarContent == 'create' || sidebarContent == 'edit'">
        <button mat-flat-button color="primary" (click)="onSubmit()">
            {{ sidebarContent === "create" ? "Add" : "Save" }}
        </button>
        <a mat-flat-button color="accent" (click)="showSidebar=false">
            Cancel
        </a>
    </div>
</div>

<div *ngIf="board" class="content no-right-padding board-container" 
    [@moveBoard]="getSidebarClass()">
    <h2 class="title">{{board.name}}</h2>
    <div *ngIf="authService.isAdmin() || authService.isManager()">
        <a mat-flat-button color="primary" 
            (click)="createTask()">
            Create Task
        </a>
        <a mat-flat-button class="edit-button"
            [routerLink]="['/boards', board.id, 'tasks']">
            Manage Tasks
        </a>
        <a mat-flat-button class="edit-button" 
            [routerLink]="['/boards', board.id, 'stages']">
            Manage Stages
        </a>
        <a mat-flat-button class="edit-button"
            [routerLink]="['/boards', board.id, 'employees']">
            Manage Employees
        </a>
    </div>
    <div>
        <div cdkDropListGroup class="board">
            <div class="stage" cdkDropList (cdkDropListDropped)="drop($event)"
                *ngFor="let stage of getSortedStages()"
                [attr.stage-id]="stage.id">
                    <div class="stage-name">{{stage.name}}</div>
                    <div *ngFor="let task of filterAssignmentOfTheStage(stage.id)">
                        <div cdkDrag [cdkDragData]="task" class="task" [class]="getTaskClass(task.id)">
                            <div (click)="viewTask(task.id)">
                                {{task.topic}}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>