<div *ngIf="board" class="content">
    <h2>{{board.name}}</h2>
    <div>
        <a mat-flat-button color="primary">Create Task</a>
        <a mat-flat-button class="edit-button" 
            [routerLink]="['/boards', board.id, 'stages']">Manage Stages</a>
        <a mat-flat-button class="edit-button">Manage Employees</a>
    </div>
    <div>
        <div cdkDropListGroup class="board">
            <div class="stage" cdkDropList (cdkDropListDropped)="drop($event)"
                *ngFor="let stage of getSortedStages()"
                [attr.stage-id]="stage.id">
                    <div class="stage-name">{{stage.name}}</div>
                    <div *ngFor="let task of filterAssignmentOfTheStage(stage.id)">
                        <div cdkDrag [cdkDragData]="task">
                            <div [routerLink]="['/boards', board.id, 'tasks', task.id]">
                                {{task.topic}}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>