<tt-sidebar *ngIf="showSidebar" [@openClose] class="sidebar-container"
    [boardId]="board.id" [currentTaskId]="currentTaskId"
    [(showSidebar)]="showSidebar" [(sidebarContent)]="sidebarContent"
    (reloadBoard)="loadBoard()">
</tt-sidebar>

<div *ngIf="board" class="content no-right-padding board-container" 
    [@moveBoard]="getSidebarClass()">
    <h2 class="title">{{board.name}}</h2>
    <div class="buttons-container">
        <div *ngIf="isAdminOrManager">
            <a mat-flat-button color="primary" 
                (click)="createTask()">
                Create Task
            </a>
            <a mat-flat-button class="edit-button"
                [routerLink]="['/boards', board.id, 'tasks']">
                Manage Tasks
            </a>
            <a mat-flat-button class="edit-button" 
                [routerLink]="['/boards', board.id, 'stages']">
                Manage Stages
            </a>
            <a mat-flat-button class="edit-button"
                [routerLink]="['/boards', board.id, 'employees']">
                Manage Employees
            </a>
        </div>
        <div class="right-button">
            <a mat-flat-button [class]="showDisplayOption ? '' : 'edit-button'" 
                [color]="showDisplayOption ? 'accent' : ''"
                (click)="showDisplayOption = !showDisplayOption">
                {{showDisplayOption ? 'Hide Options' : 'Display options' }}
            </a>
        </div>
    </div>

    <tt-board-display-options *ngIf="showDisplayOption">
    </tt-board-display-options>

    <div *ngIf="showBoard">
        <div cdkDropListGroup class="board">
            <div class="stage" cdkDropList (cdkDropListDropped)="drop($event)"
                *ngFor="let stage of getSortedStages()"
                [attr.stage-id]="stage.id">
                <div class="stage-name">{{stage.name}}</div>
                <div *ngFor="let task of filterAssignmentOfTheStage(stage.id)">
                    <div cdkDrag [cdkDragData]="task" class="task" [class]="getTaskClass(task.id)">
                        <div (click)="viewTask(task.id)">
                            {{task.topic}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>