<div class="content">
    <h3>Edit the board</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <mat-form-field floatLabel="always">
            <mat-label>Id:</mat-label>
            <input matInput formControlName="id" readonly required>
        </mat-form-field>
        <br>
        <mat-form-field floatLabel="always">
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" required
                placeholder="Type a name">
            <p *ngIf="form.touched && form.controls['name'].touched
                && form.controls['name'].errors">
                <span *ngIf="form.controls['name'].errors?.['required']"
                    class="small-warn-text">
                    Name is required.
                </span>
                <span *ngIf="form.controls['name'].errors?.['minlength']"
                    class="small-warn-text">
                    Name must be at least 3 characters long.
                </span>
                <span *ngIf="form.controls['name'].errors?.['maxlength']"
                    class="small-warn-text">
                    Name of the board can't be over 50 characters.
                </span>
                <span *ngIf="form.controls['name'].errors?.['nameIsNumber']"
                    class="small-warn-text">
                    Name cannot consist from the digits only.
                </span>
            </p>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" type="submit">
                Save
            </button>
            <a mat-flat-button color="accent" [routerLink]="['/boards']">
                Cancel
            </a>
        </div>
    </form>
</div>


