<div class="content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="wrapper">
        <div class="row cell center-text">
            <div class="bold-text center-text">Your profile information</div>
        </div>
        <div hidden="true">
            <div class="cell first-column">Id:</div>
            <div class="cell">
                <mat-form-field>
                    <input matInput formControlName="id" readonly required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Username:</div>
            </div>
            <div class="cell">
              <mat-form-field>
                  <input matInput formControlName="userName" readonly required>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Email:</div>
            </div>
            <div class="cell">
              <mat-form-field>
                  <input matInput formControlName="email" required>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Password:</div>
            </div>
            <div class="cell">
                <a mat-flat-button class="edit-button" [routerLink]="['/profile', 'changepassword']">
                  Change
                </a>
            </div>
        </div>
        <div class="row cell center-text span-line">
            <div class="bold-text center-text">Employee information</div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">First name:</div>
            </div>
            <div class="cell">
                <mat-form-field>
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="cell first-column">
                <div class="cell-content">Last name:</div>
            </div>
            <div class="cell">
                <mat-form-field>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="updateResult == false" class="row cell center-text">
            <div class="bold-text center-text warn-text">Your profile was not updated!</div>
        </div>
        <div *ngIf="updateResult === false" class="row cell center-text">
            <div class="bold-text center-text warn-text multiline-text">{{updateErrors}}</div>
        </div>
        <div *ngIf="updateResult === true" class="row cell center-text">
            <div class="bold-text center-text success-text" color="primary">Your profile was successfully updated!</div>
        </div>

        <div class="buttons">
            <button mat-flat-button color="primary" type="submit">
                Save
            </button>
            <a mat-flat-button color="accent" [routerLink]="['/']">
                Cancel
            </a>
        </div>
    </form>
</div>